@import "tailwindcss";

@import "../styled/tokens.css";
@import "../styled/components.css";
@import "../styled/utilities.css";

@media (max-width: 1024px) {
  :root {
    --sidebar-width: 220px;
    --section-gap: 40px;
  }
}

@media (max-width: 768px) {
  :root {
    --spacing-page-x: 16px;
    --spacing-page-y: 20px;

    --padding-x-card: 14px;
    --padding-y-card: 12px;

  }

  .app-modal {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  :root {
    --spacing-page-x: 12px;
    --spacing-page-y: 16px;

    --padding-x-button: 16px;
    --padding-y-button: 10px;
  }
}


@theme inline {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-bg);
    --foreground: var(--color-text);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
